<div class="container-fluid">
<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{name}}</td>
      <td>
        <p>{{address.street}}</p>
        <p>{{address.suite}}</p>
        <p>{{address.city}}</p>
        <p>{{address.zipcode}}</p>
        </td>
      <td><a href="http://{{website}}" target="_blank">{{website}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>



